#COSModal div {
    background-color: white;
    padding: 15px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

#COSModal div a {
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
}

.highlight {
    background-color: lightgreen;
}
